*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# Ignoring LaTeX metadata files
*.bcf
*.xml

# Ignoreing intermediary compilation files
*latexmk
*.cut

# Ignoring compiled versions and Word Docs
*.pdf
*.doc
*.docx

